{% extends 'base.html.twig' %}

{% block content %}

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <nav class="h-full" aria-label="Directory">

            {% for time, masses in massesByTime %}
                <div class="relative">
                    <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">
                        <h3>{{ time }}</h3>
                    </div>
                    <ul class="relative z-0 divide-y divide-gray-200">
                        {% for mass in masses %}
                        <li class="bg-white">
                            <div class="relative px-6 py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                                <div class="flex-shrink-0">
                                    <img class="h-10 w-10 rounded-full" src="{{ absolute_url(asset('images/church-icon.svg')) }}" alt="{{ mass['churchName'] }}">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <a href="#" class="focus:outline-none">
                                        <!-- Extend touch target to entire panel -->
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        <p class="text-sm font-medium text-gray-900">
                                            {{ mass['churchName'] }}
                                        </p>
                                        <p class="text-sm text-gray-500 truncate">
                                            {{ mass['note'] }}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </nav>

</div>


{% endblock %}
